*{
    margin: 0;    /* El "*" engloba a todo el documento, esos parametros son los necesarios para el reset */
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/R.jpg);
    background-attachment: fixed;
}
/* Inicio HEADER */
.header {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    z-index: 100;
    position: absolute;
}

.header__nav {
    float: right;
    text-align: center;
}

.header__nav__ul {
    list-style: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.header__nav__ul__li {
    float: right;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin: 0.1rem;
}

.header__nav__ul__li a {
    display: block;
    padding: 1rem;
    color: goldenrod;
    text-decoration: none;

}

.header__nav__ul__li p {
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
}

.header__nav__ul__li a:hover {
    border-radius: 0.25rem;
    background: whitesmoke;
    color: black;
}

.header__logo {
    margin: auto;
    width: 8rem;
    display: block;
    float: left;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.header__btn {
    margin-right: 1.8rem;
    font-size: 1.5rem;
    color: goldenrod;
    cursor: pointer;
    display: none;
}

/* Fin HEADER */

/* Inicio MAIN */

.main__hero__frente {
    width: 26rem;
    margin-top: 4rem;
    border-radius: 0.5rem;
    border-color: goldenrod;
    border-style: ridge;
}

.main__hero {
    text-align: center;
}

.main__hero__sinopsis {
    color: wheat;
    background-color: rgba(0,0,0,0.8);
    margin: 1rem 24rem;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main__hero__principales {
    color: goldenrod;
    background-color: rgba(0,0,0,0.8);
    margin-top: 1rem;
}

.main__hero__principales__tokens {
    color: wheat;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    gap: 5rem;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

hr {
    background-color: goldenrod;
    height: 5px;
    width: 100%;
}

.main__mapa__img {
    width: 50rem;
    margin: 1rem 35rem;
    border-radius: 0.8rem;
    border-color: goldenrod;
    border-style: ridge;
}

.main__mapa h1 {
    background-color: rgba(0,0,0,0.8);
    color: goldenrod;
    text-align: center;
}

.bx-up-arrow-alt {
    background-color: rgba(128, 0, 64, 1);
    color: goldenrod;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    opacity: 0.7;
}

.bx-up-arrow-alt:active {
    opacity: 1;
}

:root { scroll-behavior: smooth; }

.main__side {
    margin: 0 10rem;
    padding-top: 4rem;
    background-color: rgba(0,0,0,0.8);
}

.main__side__hero h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: goldenrod;
    text-decoration: underline;
    margin: 0.5rem 0 1rem 10rem;
}

.main__side__hero__container {
    position: relative;
    display: inline-block;
    padding: 1rem 10rem;
}

.main__side__hero__img {
    width: 25rem;
    border-radius: 1rem;
    float: right;
    margin-left: 0.5rem;
    border-style: ridge;
    border-color: goldenrod;
}

.main__side__hero p {
    color: wheat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    padding-right: 0.5rem;
}

.main__side__pjs__char {
    margin: 0 10rem;
    border-radius: 0.5rem;
}

.main__side__pjs__char__img {
    float: left;
    padding-right: 0.5rem;
}

.main__side__pjs__char__bio  {
    color: wheat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1rem 0;
}

.main__side__hero__racecont__img {
    width: 40rem;
    margin: 1rem 27rem;
    border-radius: 1rem;
    border-style: ridge;
    border-color: goldenrod;
}

.main__side__hero__racecont p {
    padding: 0 10rem 1rem 10rem;
}

.main__side__races__content {
    padding: 1rem 8rem;
}

.main__side__races__content h2 {
    color: goldenrod;
    padding-bottom: 0.5rem;
}

.main__side__races__content p{
    color: wheat;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.15rem;
}

.main__side__races__content img {
    width: 25rem;
    height: 15rem;
    border-radius: 0.75rem;
}

.main__faction {
    margin: 0 10rem;
    padding-top: 4rem;
    background-color: rgba(0,0,0,0.8);
}

.main__faction h1 {
    color: goldenrod;
    font-family: 'Courgette', cursive;
    font-size: 2.5rem;
    text-align: center;
    text-decoration: underline;
    padding: 2rem;
}

.main__faction__hero {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    padding: 1rem 3rem;
}

.main__faction__hero__content {
    display: grid;
    place-items: center;
    justify-content: center;
    background-color: rgba(90, 90, 90, 0.7);
    border-radius: 1rem;
    border-style: ridge;
    border-color: goldenrod;
    padding: 0 4rem;
}

.main__faction__hero img {
    width: 20rem;
    height: 15rem;
    margin: 1rem 0;
    border-radius: 1rem;
    border-style: ridge;
    border-color: goldenrod;
}

.main__faction__hero h2 {
    font-family: 'Courgette', cursive;
    font-size: 1.5rem;
    padding: 0.5rem;
    color: goldenrod;
    text-decoration: underline;
}

.main__faction__hero__content p {
    font-family:'Times New Roman', Times, serif;
    color: wheat;
    font-size: 1.15rem;
    text-align: justify;
    padding: 0 0.5rem 0.5rem 0.5rem;
}

.main__ubi {
    margin: 0 10rem;
    padding-top: 3rem;
    background-color: rgba(0,0,0,0.8);
}

.main__ubi h1 {
    color: goldenrod;
    font-family: 'Courgette', cursive;
    font-size: 2.5rem;
    text-align: center;
    text-decoration: underline;
    padding: 2rem;
}

.main__ubi img {
    object-fit: cover;
    height: 32rem;
    width: 50rem;
}

.main__ubi__hero {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    background-color: rgba(90, 90, 90, 0.7);
}

.main__ubi__hero__content {
    padding: 1rem;
    justify-content: center;
}

.main__ubi__hero__content h2 {
    font-family: 'Courgette', cursive;
    font-size: 2rem;
    text-align: center;
    color: goldenrod;
    text-decoration: underline;
}

.main__ubi__hero__content p {
    font-family:'Times New Roman', Times, serif;
    color: wheat;
    font-size: 1.5rem;
    text-align: justify;
    padding: 0.5rem;
}

/* Inicio FOOTER */

.footer {
    background-color: rgba(0,0,0,1);
    color: white;
    text-align: center;
    width: 100%;
    padding: 0.25rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.socials {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.2rem;
  }
  .socials li {
    margin: 0 10px;
  }
  .socials a i {
    font-size: 1.1rem;
    color: goldenrod;
  }
  .socials a:hover i{
    font-size: 1.1rem;
    transition: color .4s ease;
  }
  .socials a:hover i{
    color: #0088a9;
  }

.footer__design {
    position: center;
}

/* MEDIA QUERIES (ESTILOS MOVILES) */

@media screen and (max-width: 768px) {
    body {
    }

    /*HEADER*/
    .header {
        background-color: rgba(0,0,0,0.7);
        width: 100%;
        z-index: 100;
        position: absolute;
    }

    .header__logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        float: none;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 0.5rem;
        width: 9.5rem;
    }

    .header__nav {
        float: none;
        background-color:rgba(193,155,40,0.7);
        padding: 0.2rem 0;
    }

    .header__nav a {
        color: black;
    }

    .header__nav a:hover {
        color: goldenrod;
    }
    /*FIN HEADER*/

    /*MAIN*/
    .main__hero {
        padding-top: 6rem;
    }

    .main__hero__sinopsis {
        display: flex;
        margin: 1rem 1rem;
    }

    .main__hero__principales {
        padding-top: 0.5rem;
        font-size: 1.5rem;
    }

    .main__hero__principales {
        margin: 0 6rem;
        border-radius: 2rem;
        border-style: ridge;
        border-color: goldenrod;
    }

    .main__hero__principales__tokens {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .main__hero__principales__tokens img {
        padding-top: 0.5rem;
    }

    .main__mapa {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main__mapa img {
        align-items: center;
        width: 35rem;
        margin: 0;
    }

    .main__mapa h1 {
        margin: 0.5rem 7rem;
        padding: 0.2rem 0;
        border-radius: 0.8rem;
    }

    hr {
        display: none;
    }
    /*Fin MAIN*/
}