/****form****/
.main__form {
    overflow: hidden;
    margin: 0 10rem;
    padding: 2.25rem 6rem 2.25rem 6rem;
    background-color: rgba(90, 90, 90, 0.9);
    & .form-control {
        border: 1.5px solid goldenrod;
    }
    &__textArea {
        height: 109px;
    }
    &__fondo {
        background-color: white;
        margin: 0 3rem;
        & h1 {
            color: goldenrod;
            padding-bottom: 1rem;
            font-weight: bolder;
        }
        &__side__p {
            color: goldenrod;
            padding: 2.5rem 2.5rem;
            font-weight: bold;
            border: solid 1px goldenrod;
            border-radius: 0.5rem;
        }
        &__side img {
            border-radius: 1.5rem;
            margin-top: 1.5rem;
        }
    }
}
.form-btn {
    background-color: rgba(128, 0, 64, 1);
    border-color: rgba(128, 0, 64, 1);
    color: goldenrod;
    font-weight: bold;
    border-radius: 0.3rem;
    margin-top: 1rem;
    padding: 0.5rem 10rem;
    &:hover {
        background-color: goldenrod;
        border-color: goldenrod;
        color: rgba(128, 0, 64, 1);
        transition: 0.3s;
    }
}
.row {
    justify-content: center;
}
.col {
    display: flex;
    align-content: center;
}
.p-5 {
    padding: 4rem!important;
}








