/****hero****/
.main__hero {
    text-align: center;
    &__frente {
        width: 30rem;
        margin-top: 6.4rem;
        border-radius: 0.5rem;
        border-color: goldenrod;
        border-style: ridge;
    }
    &__sinopsis {
        color: wheat;
        background-color: rgba(0,0,0,0.8);
        margin: 1rem 24rem;
        padding: 1rem;
        border-radius: 1rem;
        font-size: 1.2rem;
        -webkit-animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    &__principales {
        background-color: rgba(0,0,0,0.8);
        margin-top: 1rem;
        & h1 {
            font-weight: bold;
            color: goldenrod;
        }
        &__tokens {
            display: flex;
            justify-content: center;
            gap: 5rem;
            &__img {
                padding-bottom: 0.5rem;
                -webkit-animation: roll-in-left 1s ease-out both;
                animation: roll-in-left 1s ease-out both;
            }
            & p {
                font-size: medium;
                font-weight: bold;
                color: wheat;
                background-color: black;
                border-style: ridge;
                border-radius: 0.5rem;
                border-color: goldenrod;
            }
        }
    }
}
hr {
    background-color: goldenrod;
    height: 5px;
    width: 100%;
}
.bx-up-arrow-alt {
    background-color: rgba(128, 0, 64, 1);
    color: goldenrod;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    opacity: 0.7;
    &:hover {
        opacity: 1;
    }
}
:root { 
    scroll-behavior: smooth; 
}













